html{
    background-image: url("../../static/backgrounds/ocean.png");
    background-repeat: repeat;
    background-size: 126px 126px;
}

body{
    color: #ffffff;
}

#base-header {
    background: url('../../static/backgrounds/header/ocean-header.png') repeat-x;
}

.markdown {
    background-color: rgba(0, 0, 0, 0.30) !important;
}

h1{
    color: #ffffff;
}

h2{
    color: #ffdd5a;
}

h3, h4, h5,h6{
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

table th{

}

table td{

}

a{
    color: #ea166c !important;
}

pre{
    margin-top: 0;
    padding: 0.5rem 0.25rem;
    background-color: lightblue;
    border: 1px solid #0e2a4b;
    border-radius: 6px;
    color: #000000;
}

pre code{
    border: none;
    display: block;
}

code{
    background-color: lightblue;
    border-radius: 4px;
    border: 1px solid #0e2a4b;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    color: #000000;
}
