html{
    background-image: url('../../static/backgrounds/ocean.png');
    background-repeat: repeat;
    background-size: 126px 126px;
    font-family: Inter-Light, sans-serif;
    font-size: 18px;
    color: #ffffff;
    line-height: 30px;
}

#base-header{
    background: url('../../static/backgrounds/header/ocean-header.png') repeat-x;
}

div header{
    font-family: Inter-Light, sans-serif;
    font-size: 25px;
    margin: 20px 0;
    text-transform: uppercase;
}

h1{
    font-family: Inter-Light, sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 30px;
}

.grass-island{
    background-color: #8BC6EC;
    background-image: linear-gradient(0deg, #093C4F 0%, #09194F 100%);
    
    border-radius: 25px;
    min-width: 300px;
    min-height: 220px;

    padding: 30px 30px 30px;
}

pre{
    margin-top: 0;
    padding: 0.5rem 0.25rem;
    background-color: #ffeeab;
    border: 1px solid #9f916a;
    border-radius: 6px;
    color: #000000;
}

code{
    background-color: lightblue;
    border-radius: 4px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    color: #000000;
}

code.grassy {
    background-color: lightblue;
    border: 1px solid #652895;
    white-space: preserve;
    text-align: left;
    display: block;
    font-size: 14px;
    line-height: 20px;
}
