sekailink ALL=(root) NOPASSWD: /usr/bin/systemctl start sekailink-nexus-room-query.service, /usr/bin/systemctl stop sekailink-nexus-room-query.service, /usr/bin/systemctl restart sekailink-nexus-room-query.service, /usr/bin/systemctl start sekailink-nexus-identity.service, /usr/bin/systemctl stop sekailink-nexus-identity.service, /usr/bin/systemctl restart sekailink-nexus-identity.service, /usr/bin/systemctl start mariadb.service, /usr/bin/systemctl stop mariadb.service, /usr/bin/systemctl restart mariadb.service, /usr/bin/systemctl start sekailink-nexus-lobby-admin.service, /usr/bin/systemctl stop sekailink-nexus-lobby-admin.service, /usr/bin/systemctl restart sekailink-nexus-lobby-admin.service, /usr/bin/systemctl start sekailink-link-lobby-runtime-tunnel.service, /usr/bin/systemctl stop sekailink-link-lobby-runtime-tunnel.service, /usr/bin/systemctl restart sekailink-link-lobby-runtime-tunnel.service
