{% extends 'pageWrapper.html' %}
{% set show_footer = False %}
{% set body_class = "app-ui" %}
{% set active_page = "help" %}

{% block head %}
    <title>SekaiLink Guides</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/markdown.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/tutorialLanding.css") }}"/>
    <script type="application/ecmascript" src="{{ url_for('static', filename="assets/tutorialLanding.js") }}"></script>
{% endblock %}

{% block body %}
    <div class="page-bg"></div>
    <div class="skl-app-shell">
        {% include 'partials/appSidebar.html' %}
        <div class="skl-app-main">
            <div class="skl-app-panel">
                <div id="tutorial-landing" class="markdown">
    <h1>SekaiLink Guides</h1>
    <p><a href="#" id="toggle-nsfw">Show NSFW games</a></p>
    {% for world_name, world_type in worlds.items() %}
        {% if tutorials[world_name] %}
        <div class="tutorial-section" data-game="{{ world_name }}" {% if world_type.web.rating == "nsfw" %} data-nsfw="true"{% endif %}>
            <h2 id="{{ (world_type.web.display_name | default(world_name)) | encodeURIComponent }}">{{ world_type.web.display_name | default(world_type.game) }}</h2>
            {% for tutorial_name, tutorial_data in tutorials[world_name].items() %}
                <h3>{{ tutorial_name }}</h3>
                <p>{{ tutorial_data.description }}</p>
                <p>This guide is available in the following languages:</p>
                <ul>
                    {% for file_name, file_data in tutorial_data.files.items() %}
                        <li>
                            <a href="{{ url_for("tutorial", game=world_name, file=file_name) }}">{{ file_data.language }}</a>
                            by
                            {% for author in file_data.authors %}
                                {{ author }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
        {% endif %}
    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
